<div class="flex-wrapper-full">
    <div> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div id="programs" class="flex-wrapper-big">
    <div class="infoblock">
        <p>ASTRO is an ISR- and autonomous-focused, AAS-serviced contract vehicle that combines elements of IT and professional services into a holistic solution approach to mission requirements.</p>
        <p>ASTRO establishes a family of ten separate, individual, Multiple Award (MA), Indefinite Delivery/Indefinite Quantity (IDIQ) contracts that encompass a variety of services related to manned, unmanned, and optionally manned platforms and robotics.</p>
            
        <p><b>ASTRO provides a total solution for any organization's manned, unmanned, and optionally-manned platforms and robotics requirements across the following domains:</b></p>
    </div> 
</div>

<div class="flex-wrapper-big big-v-buffer">
    
    <div class="one-third section-btn-clear">
        <a href="#operations"><b>Operations</b></a>
    </div>

    <div class="one-third section-btn-clear">
        <a href="#readiness"><b>Maintenance and Readiness</b></a>
    </div>

    <div class="one-third section-btn-clear">
        <a href="#support"><b>Support</b></a>
    </div>
</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    
    <div class="one-fourth section-btn-clear">
        <a href="#integration"><b>Development/Systems <br> Integration</b></a>
    </div>

    <div class="one-fourth section-btn-clear">
        <a href="#research"><b>Research and Development</b></a>
    </div>

    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
</div>


<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO Pools</h1>
        <p>ASTRO services are organized into ten functional Pools, with the appropriate Pool selected for task order solicitation based upon the preponderance of work in the requirement being solicited.</p>
        
    </div>
</div>

<!-- icons row 1 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset data-ops-icon-01.png alt="Data Operations" %}
        </div>
        <b>Data<br>Operations</b>
    </div>
    
    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset mission-ops-icon-01.png alt="Mission Operations" %}
        </div>
        <b>Mission<br>Operations</b>
    </div>

    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset aviation-icon-01.png alt="Aviation" %}
        </div>
        <b>Aviation</b>
    </div>

    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset ground-icon-01.png alt="Ground" %}
        </div>
        <b>Ground</b>
    </div>
</div>

<!-- icons row 2 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset space-icon-01.png alt="Space" %}
        </div>
        <b>Space</b>
    </div>
    
    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset support-icon-01.png alt="Support" %}
        </div>
        <b>Support</b>
    </div>

    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset maritime-icon-01.png alt="Maritime" %}
        </div>
        <b>Maritime</b>
    </div>

    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset research-icon-01.png alt="Research" %}
        </div>
        <b>Research</b>
    </div>
</div>

<!-- icons row 3 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    
    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset development-systems-integration-icon-01.png alt="Development/Systems Integration" %}
        </div>
        <b>Development/Systems<br>Integration</b>
    </div>

    <div class="one-fourth centered">
        <div class="section-icon-cell">
            {% asset training-icon-01.png alt="Training" %}
        </div>
        <b>Training</b>
    </div>

    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
</div>


<div class="flex-wrapper-big big-v-buffer">
    
    <div class="one-third">
        <div class="bio-spacer"></div>
    </div>

    <div class="one-third section-btn">
        <a href="#get-started"><b>Get started with ASTRO</b></a>
    </div>

    <div class="one-third">
        <div class="bio-spacer"></div>
    </div>
</div>
