<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div id="programs" class="flex-wrapper-big">
    <div class="infoblock">
        <h1>What is ASTRO?</h1>
        <p>ASTRO is a broadly scoped series of contract vehicles encompassing virtually all services supporting or involving manned, unmanned, or optionally manned platforms and robotics. ASTRO is administered by the General Services Administration’s (GSA) Office of Assisted Acquisition Service (AAS) FEDSIM Organization.</P>
        <p>ASTRO is a family of ten separate, individual, Multiple Award (MA), Indefinite Delivery/Indefinite Quantity (IDIQ) contracts sponsored by the Department of Defense (DoD).</p>
        
    </div>
</div>


<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO Pools</h1>
        <p>ASTRO services are organized into ten functional Pools, with the appropriate Pool selected for task order solicitation based upon the preponderance of work in the requirement being solicited.</p>
        
    </div>
</div>

<!-- icons row 1 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset data-ops-icon-01.png alt="Data Operations" %}
        </div>
        <p>Data<br>Operations</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset mission-ops-icon-01.png alt="Mission Operations" %}
        </div>
        <p>Mission<br>Operations</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset aviation-icon-01.png alt="Aviation" %}
        </div>
        <p>Aviation</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset ground-icon-01.png alt="Ground" %}
        </div>
        <p>Ground</p>
    </div>
</div>

<!-- icons row 2 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset space-icon-01.png alt="Space" %}
        </div>
        <p>Space</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset support-icon-01.png alt="Support" %}
        </div>
        <p>Support</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset maritime-icon-01.png alt="Maritime" %}
        </div>
        <p>Maritime</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset research-icon-01.png alt="Research" %}
        </div>
        <p>Research</p>
    </div>
</div>

<!-- icons row 3 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset development-systems-integration-icon-01.png alt="Development/Systems Integration" %}
        </div>
        <p>Development/Systems<br>Integration</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            {% asset training-icon-01.png alt="Training" %}
        </div>
        <p>Training</p>
    </div>

    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
</div>


<div class="flex-wrapper-big big-v-buffer">

    <div class="one-half section-btn moreRound biggerLabel">
        <a href="#contact"><h1 class="whitetext">Contact the ASTRO Team</h1></a>
    </div>

</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="infoblock">
        <h1>ASTRO Resources</h1>
    </div>
</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="one-third section-btn-clear">
        <a href="#a1"><b>Data Operations Pool</b></a>
    </div>

    <div class="one-third section-btn-clear doubleLines">
        <a href="#a2"><b>Mission <br>Operations Pool</b></a>
    </div>
    
    <div class="one-third section-btn-clear">
        <a href="#a3"><b>Aviation Pool</b></a>
    </div>
</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="one-third section-btn-clear">
        <a href="#a4"><b>Ground Pool</b></a>
    </div>

    <div class="one-third section-btn-clear">
        <a href="#a5"><b>Space Pool</b></a>
    </div>

    <div class="one-third section-btn-clear">
        <a href="#a6"><b>Maritime Pool</b></a>
    </div>
</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="one-third section-btn-clear">
        <a href="#a7"><b>Development/Systems <br>Integration Pool</b></a>
    </div>

    <div class="one-third section-btn-clear">
        <a href="#a8"><b>Research Pool</b></a>
    </div>

    <div class="one-third section-btn-clear">
        <a href="#a9"><b>Support Pool</b></a>
    </div>
</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="one-third">
        <div class="spacer">
    </div>

    <div class="one-third section-btn-clear">
        <a href="#a10"><b>Training Pool</b></a>
    </div>

    <div class="one-third">
        <div class="spacer">
    </div>
</div>
        
<div id="a1" class="flex-wrapper-big big-v-buffer">
    <div class="one-third">
        <b>Data Operations Pool</b></a>
    </div>

    <div class="one-third">
        <b>Mission <br>Operations Pool</b></a>
    </div>
    
    <div class="one-third">
        <b>Aviation Pool</b></a>
    </div>
</div>
