<div class="flex-wrapper-big infoblock">
    <h1>Data Collection Test</h1>
</div>


<div class="v-buffer"><br></div>
                  

<div class="flex-wrapper-big">
    <div id="toolkit" class="infoblock-fixed withborder">
        <h2>Data Collection Test</h2>
        <p>Fill out the fields and click "Submit."</p>
        <input id="input-submit" type="submit" value="Submit">


    </div>
</div>

<script type="text/javascript">

$("#input-submit").click(function() {
    var json_pre = '[{"Id":1,"UserName":"Sam Smith"},{"Id":2,"UserName":"Fred Frankly"},{"Id":1,"UserName":"Zachary Zupers"}]';
    var json = $.parseJSON(json_pre);
    
    var csv = JSON2CSV(json);
    var downloadLink = document.createElement("a");
    var blob = new Blob(["\ufeff", csv]);
    var url = URL.createObjectURL(blob);
    downloadLink.href = url;
    downloadLink.download = "data.csv";
    
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
    });

</script>