<div class="flex-wrapper-big infoblock">
    <h1>Data Collection Test</h1>
</div>


<div class="v-buffer"><br></div>
                  

<div class="flex-wrapper-big">
    <div id="toolkit" class="infoblock-fixed withborder">
        <h2>Data Collection Test</h2>
        <p>Fill out the fields and click "Submit."</p>
        <input id="input-submit" type="submit" value="Submit">


    </div>
</div>

<script type="text/javascript">

$('#input-submit').on('submit', function (e) {
    window.open('mailto:richgarner71@gmail.com?subject=Registration&body=This is my registration.');
    });

</script>